extends base.pug

block content
    .dashboard 
            .user 
                h1.greeting.text-center Welcome to user health readings
    div.users-con
        each u in users
            div.profi
                div.info
                    strong Email:
                    p=u.username
                    strong Password:
                    p=u.password
                    strong First Name:
                    p=u.firstname  
                    strong Last Name:
                    p=u.lastname
                    div 
                        a(href=`/edit/${u.id}`) 
                            span.icone
                                i(class="fa fa-pencil fa-2x text-grey" aria-hidden="true")
                        a(href=`/delete/${u.id}`)    
                            span.icone
                                i(class="fa fa-trash-o fa-2x text-grey" aria-hidden="true")    
                
